<html>

<head>
	<meta charset="utf-8"></meta>
</head>

<body>
	<div id="query-result">
      
    <div class='title-reqular'>
      <h3>{{ t }}, расписание с {{ since|date:"d.m.Y" }} по {{ to|date:"d.m.Y" }}. </h3>
    </div>
  

  {% if method == '1' %}
    {% for l in lessons %}
      <p>
      {{ l.lDate }}, {{ l.lTime }}, ауд. {{ l.lAud }} <br>
      {{ l.lName }} <br>
      группа {{ l.lGroup }}
      {% if l.lComment|length > 1 %}
      <br><strong>
      Комментарий: {{ l.lComment }}
      </strong>
      {% endif %} <br><br>
      </p>  
    
    {% empty %}
    <h4>Расписание на эти дни не найдено.</h4>

    {% endfor %}

  {% elif method == '2' %}
    <div class="table-responsive">
    <table class="table">
      <thead><tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Ауд.</th>
        <th>Группа</th>
        <th>Дисциплина</th>
        <th>Комментарии</th>
      </tr></thead>

      <tbody>
      {% for l in lessons %}
      <tr>
        <td>{{ l.lDate }}</td>
        <td>{{ l.lTime }}</td>
        <td>{{ l.lAud }}</td>
        <td>{{ l.lGroup }}</td>
        <td>{{ l.lName }}</td>
        <td>{{ l.lComment }}</td>
      </tr>
      
      {% empty %}
      <h4>Расписание на эти дни не найдено.</h4>

      {% endfor %}
      </tbody>
    </table>
    </div>

  {% else %}
    <p>Что-то пошло не так.</p>
  
  {% endif %}  
</div>
</body>

</html>