<!doctype html>
{% load staticfiles %}

<html>
  
  <head>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}
    {% endblock %}
    <meta charset="utf-8"></meta>
    <!-- Bootstrap mobile-friendly stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unecon schedule app</title>
  </head>

  <body>
    <header>
      <div id="logo">
	      <a href="/" title="На главную">
	        <img src="http://finec.unecon.ru/i/spbguef.png" alt="Логотип" />
	      </a>
      </div>
      
      <div id="header-text" align="center">
        Санкт-Петербургский государственный экономический университет<br>
        Расписание занятий
      </div>
    </header>

    <div class="content-container">
      {% block content %}
      {% endblock %}
    </div>

    {% block footer %}{% endblock %}
  </body>
</html>

    
