{% extends 'main/base.html' %}

{% block content %}
<div id="course-subject-title">
  <h3>Информационный сервис для преподавателя<br>
    "Расписание занятий"
  </h3>
</div>

<div id="course-subject">
  <p>Приложение генерирует расписание занятий
    для преподавателей СПбГЭУ.
  </p>
</div>

<div class="buttons-index">
  <p>
    <a href="{% url 'criteria' %}" class="btn btn-lg">Расписание</a></p>
  <p>
    <a href="{% url 'teacher_list' %}" class="btn btn-lg">Преподаватели</a></p>
  <p>
    <a href="{% url 'teacher_list' %}" class="btn btn-lg">Преподаватели</a></p>
  <p>
    <a href="{% url 'info' %}" class="btn btn-lg">Справка</a></p>
</div>
{% if not user.is_authenticated %}
  <br><br>Есть учетная запись?<br>
  <a href="{% url 'login' %}" class="btn btn-lg">Авторизация</a></p>
{% else %}
  <p>Вы авторизованы: {{ user.username }}</p>
  <a href="{% url 'logout' %}" class="btn btn-md">Выйти из учетной записи</a>
{% endif %}


{% if not user.is_authenticated %}
<div class="login_fields">
  <br><br>Есть учетная запись?<br>
  <a href="{% url 'login' %}" class="btn btn-lg">Авторизация</a></p>
{% else %}
  <p>Вы авторизованы: {{ user.username }}</p>
  <a href="{% url 'logout' %}" class="btn btn-md">Выйти из учетной записи</a>
</div>
{% endif %}

{% endblock %}
