{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/mail_sent.css' %}">
{% endblock %}

{% block content %}

<div id='mail_notification'>
	<h3>Расписание занятий успешно отправлено на адрес {{ addr }}.<h3>
	<h4>Параметры:</h4>
	<p>
	Преподаватель: {{ t }}<br>
	Дата, с: {{ since|date:"d.m.Y" }}<br>
	Дата, по: {{ to|date:"d.m.Y" }}
	</p>
</div>

<div id="go_next">
	<a href="/rasp/" class="btn btn-lg">К расписаниям</a>
	<a href="/" class="btn btn-lg">На главную</a>
</div>

{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}