{% extends 'main/base.html' %}

{% block content %}


<form method="POST" action="/rasp/">
  {% csrf_token %}
  <div class="title-reqular">
    <h3>Выберите критерии:</h3>
  </div>

  {% for field in form %}

  <div class="field-wrapper">
    {{ field.label_tag }} {{ field }}
  </div>

  {% endfor %}

  <div class="buttons-index">
    <p>
      <input type="submit" value="Получить расписание" class="btn btn-lg"/>
    <!--<a href="{% url 'show_rasp' %}" class="btn btn-lg">Получить расписание</a>--></p>
  </div>
</form>

{% if lessons %}

<div id="query-result">
  <div class='title-reqular'><h3>Расписание занятий с {{ form.data.date_since }} по {{ form.data.date_to }}. </h3></div>

{% for l in lessons %}

{{ l.lDate }}, {{ l.lTime }}, ауд. {{ l.lAud }} <br>
{{ l.lName }} <br>
группа {{ l.lGroup }} <br><br>

{% endfor %}
</div>
{% endif %}


{% endblock %}
