div.teacher_info {
	font-size: 20px;
	display: inline-flex;
	width: 50%;
}

div.t_info {
	margin-right: 10px;
	max-width: 65%;
}

div.t-photo {
	float: left;
	max-width: 20%;
	margin: 100px;
}

.l_name {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	background-color: #f9f9f9;
	font-size: 16px;
}