{% extends 'main/base.html' %}
{% load static %}

{% block content %}




<div id="query-result">
  {% if lessons %}    
    <div class='title-reqular'>
      <h3>{{ t }}, расписание с {{ since|date:"d.m.Y" }} по {{ to|date:"d.m.Y" }}. </h3>
    </div>
  {% endif %}

  {% if method == '1' %}
    {% for l in lessons %}
      <p>
      {{ l.lDate }}, {{ l.lTime }}, ауд. {{ l.lAud }} <br>
      {{ l.lName }} <br>
      группа {{ l.lGroup }} <br><br>
      </p>  
    {% empty %}
    <h4>Расписание на эти дни не найдено.</h4>

    {% endfor %}

  {% elif method == '2' %}
    <div class="table-responsive">
    <table class="table">
      <thead><tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Ауд.</th>
        <th>Группа</th>
        <th>Дисциплина</th>
        <th>Комментарии</th>
      </tr></thead>

      <tbody>
      {% for l in lessons %}
      <tr>
        <td>{{ l.lDate }}</td>
        <td>{{ l.lTime }}</td>
        <td>{{ l.lAud }}</td>
        <td>{{ l.lGroup }}</td>
        <td>{{ l.lName }}</td>
        <td>{{ l.lComment }}</td>
      </tr>
      
      {% empty %}
      <h4>Расписание на эти дни не найдено.</h4>

      {% endfor %}
      </tbody>
    </table>
    </div>

  {% else %}
    <p>Что-то пошло не так.</p>
  
  {% endif %}  
</div>

<div id="export">
    <form id='export-form'>
      {{ export.as_table }}
      <input type="submit" value="Submit" class="btn btn-default" />
    </form>
</div>

{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}