{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/teacher_list.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}

<form method="POST" action="/teacher/" id="cafedra-form">
{% csrf_token %}
  {{ form.as_table }}
  <button type="submit" class="btn btn-md">Применить фильтр</button>
  <a href="{% url 'teacher_list' %}" class="btn btn-md">Убрать фильтр</a></p>
</form>

<div class="t_list">
  <h3>Список преподавателей</h3>
  {% for t in t_list %}
  <div class="teacher">
    <a href="{% url 'show_teacher' teacher=t.id %}">{{ t.tName }}</a>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}