#criteria-form {
    float: top;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 96.5%;
    min-width: 200px;
    margin-left: 3%;
    margin-right: 3%;
    background: #FFFFFF;
}

.title-regular {
    position: relative;
}

.field-wrapper {
    display: inline-block;
}

.field-wrapper ul li {
    display: inline-block;
    list-style: none inside;
}

#id_view_method {
    margin: 0;
    padding-left: 10px;
}

#criteria-form.stick-top {
    position: fixed;
    top: 0;
}

#query-result {
    margin-left: 3.5%;
    margin-right: 3%;
    max-width: 1000px;
    color: black;
}

@media screen and (max-width: 550px) {
    html {
        font-size: 75%;
    }

    .sidenav {
        height: 100%;
        width: 250px;
        position: absolute;
        z-index: 1;
        top: 100px;
        left: -250px;
        background-color: #f4f5f7;
        overflow-x: hidden; /* Disable horizontal scroll */
    }

    #sideMenuBtn {
        transform: rotate(-90deg);
        position: fixed;
        left: 0px;
        top: 50%;
    }
}