#criteria-form {
    float: top;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    margin-left: 3%;
    margin-right: 3%;
    background: #ffffff;
}

.title-regular {
    position: relative;
}

.field-wrapper {
    display: inline-block;
}

.field-wrapper ul li {
    display: inline-block;
    list-style: none inside;
}

#id_view_method {
    margin: 0;
    padding-left: 10px;
}

#criteria-form.stick-top {
    position: fixed;
    top: 0;
    margin-left: 3%;
    margin-right: 3%;
    padding-right: 3%;
    width: 94%;
}

#query-result {
    margin-left: 3.5%;
    margin-right: 3.5%;
    max-width: 1000px;
    color: black;
}

#export-form {
    bottom: 0;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

@media screen and (max-width: 580px) {

    #hiddenMenuBtn {
        margin-top: 10px;
        margin-left: 3.5%;
        margin-right: 3.5%;
        width: 85%;
    }
}